@main("Eric Christiansen") {
<h1>Eric M. Christiansen</h1>

<h2>About Eric</h2>
<p>
I am a <a href="http://www-cse.ucsd.edu/">computer science</a> PhD candidate at the University of California, San Diego, advised by <a href="http://cseweb.ucsd.edu/~sjb/">Serge Belongie</a>.
My primary area of research is in local descriptors methods, which are used as a building block in many computer vision systems.
My other research interests include sparse methods, fast nearest neighbor search, and computational photography.
My technical interests include functional programming languages.   
This is my @personal.controllers.PersonalSite.phdYear year of study.
</p>

<h2>Bio</h2>
<p>
While an undergrad at <a href="http://www.swarthmore.edu/">Swarthmore College</a>, I worked in the summers with <a href="http://www.cse.ucsd.edu/~gary/">Gary Cottrell</a> on a variety of cognitive science topics, thanks to whom I have an interest in machine vision and biologically inspired models. In 2008 I graduated with a BA in math and a minor in computer science.
</p>

<p>
In my first year at UCSD, I focused on machine learning while working with <a href="http://www-cse.ucsd.edu/~elkan/">Charles Elkan</a>. Mostly I took classes, especially ones with application to machine learning.
</p>

<p>
In the winter of my second year, I joined the lab of Serge Belongie. With him, I've worked on computer vision applications for the visually impaired, data-driven approaches for face verification under varying conditions, and super resolution.
</p>

<h2>Research Interests</h2>

<p>
Super-resolution, object detection in video, computer vision generally, machine learning generally.

<h3>Publications</h3>
<ul>
<li>Tess Winlock, Eric Christiansen, Serge Belongie, <a href="papers/CVAVI_07.pdf">Toward real-time grocery detection for the visually impaired</a>, Proceedings of the 3rd Workshop for Computer Vision Applications for the
Visually Impaired (CVAVI-10), San Francisco, CA, June 2010.</li>
  <li>Joseph P. McCleery, Lingyun Zhang, Liezhong Ge, Zhe Wang, Eric M. Christiansen, Kang Lee, Garrison W. Cottrell, <a href="papers/inversion.pdf">The roles of visual expertise and visual input in the face inversion effect: Behavioral and neurocomputational evidence</a>, Vision Research, Volume 48, Issue 5, February 2008, Pages 703-715, ISSN 0042-6989</li>
<li>Matthew H. Tong, Adam D. Bickett, Eric M. Christiansen, Garrison W. Cottrell, <a href="papers/grammar_esn.pdf">Learning grammatical structure with Echo State Networks</a>, Neural Networks, Volume 20, Issue 3, Echo State Networks and Liquid State Machines, April 2007, Pages 424-432, ISSN 0893-6080</li>
</ul>

<h2>Contact</h2>
<h3>Email</h3>
<blockquote>echristiansen at cs.ucsd.edu</blockquote>
<h3>Department Address</h3>
<blockquote>
Eric Christiansen, Graduate Student
<br>UCSD Department of Computer Science and Engineering
<br>9500 Gilman Drive, Dept. 0404
<br>La Jolla, California 92093-0404 
</blockquote>

<h2>Links</h2>
Some favorite sites:
<ul>
<li>
<a href="http://michaelnielsen.org/blog/michael-a-nielsen/">Michael Nielsen's blog</a>
</li>
<li>
<a href="http://hunch.net/">Machine Learning (Theory)</a>
</li>
<li>
<a href="http://boingboing.net">Boing Boing</a>
</li>
<li>
<a href="http://www.smbc-comics.com/">Saturday Morning Breakfast Cereal</a>
</li>
<li>
<a href="http://xkcd.com">xkcd</a>
</li>
<li>
<a href="http://pbfcomics.com/">Perry Bible Fellowship</a>
</li>
</ul>

Last updated: 10 January 2011
}
